@font-face {
    font-family: font;
    src: url("Quicksand_Book.otf");
}
body {
    background-image: url("../img/background/3.jpg");
    font-family: font;
}

a { color: blue; text-decoration: none; }
a:visited { color: blue;  }
tr, img{
    height: 40px;
}
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

nav .logo_nav a img{
    position: absolute;
    top: 100px;
    left: 9%;
    width: 200px;
    height: auto;
}

nav .zone_onglets{
    position: absolute;
    right: 10%;
    top: 250px;
}

label {
    display: block;
    float: left;
    width: 150px;
}

.admin {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    background-color: white;
}

.onglet_admin{
    background-image: url("../img/background/3.jpg");
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    height: 50px;
}

.onglet{
    background-color: white;
    padding: 0px 10px;
    height: 50px;
}

.canvas{
    padding: 20px;
    border: 1px solid black;
    position: absolute;
    top: 300px;
    left: 10%;
    right: 10%;
    background-color: white;
}

.video_head p{
    display: inline-block;
    vertical-align: top;
}

.video_body p{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    right: 0px;
}