@font-face {
    font-family: font;
    src: url("Quicksand_Book.otf");
}

html {
    display: flex;
    min-height: 100%;
}


body{
    background-image: url("../img/background/7.jpg");
    font-family: font;
    margin: auto;
}


svg {
    display: block;
    margin: auto;
}

polygon {
    fill:white;
    stroke:black;
    stroke-width:1;
}


