@font-face {
    font-family: font;
    src: url("Quicksand_Book.otf");
}

html {
    display: flex;
    min-height: 100%;
}


body{
    background-image: url("../img/background/7.jpg");
    font-family: font;
    margin: auto;
}


svg {
    display: block;
    margin: auto;
}

polygon {
    fill:white;
    stroke:black;
    stroke-width:1;
}

polygon:hover{
    #fill: blue;
}

@keyframes rotation {

}

polygon:active:before{

    -webkit-transform: rotate(7deg);
    animation-name: rotation;
    animation-duration: 4s;
}

